*{
    list-style: none;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Comfortaa', cursive;
}

.lister_wrapper{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background: rgba(0,0,0,0.8);
} 

.list_wrap ul .main_li{
    background: white;
    margin-bottom: 15px;
    padding: 15px 15px;
    width: 630px;
    /* padding-left: 100px; */
    line-height: 44px;
    border-radius: 5px;
    position: relative;
}

.list_wrap ul .main_li:last-child{
    margin-bottom: 0;
}

.list_wrap ul .main_li .icon{
    position: absolute;
    top: -14px;
    left: 0px;
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
}

.list_wrap ul .main_li .icon:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url('../../assets/img/Placeholder_75px.png') no-repeat;
    border-radius: 50%;
}

.list_wrap ul .main_li .icon:before{
    background-position: 0 0;
    width: 75px;
    height: 75px;
}

.badge {
    display: inline;
    min-width: 10px; 
    padding: 15px 15px;
    border-radius: 20px;
    font-size: 12pt;
    text-align: center;
    background: #1779ba;
    color: #fefefe;
}

.grid_wrapper{
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  .c {
    grid-column: 1 / 3;
    grid-row: 3;
  }

  .grid_wrapper_fork{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
  }